# Block access to things that should stay private
<Files ~ "(.xml|.sql|.inc.php|.git*|.log|.tpl)">
    Order allow,deny
    Deny from all
</Files>

# block verboten directories
RedirectMatch 404 /src(/|$)
RedirectMatch 404 /logs(/|$)

# disable automatic filename re-mapping based on languages (breaks RewriteCond)
Options -MultiViews

# detect our base directory (probably yadda/yadda/api/v1 or something)
# (Stack Overflow rocks: http://stackoverflow.com/a/21027742)
RewriteCond %{ENV:URI} ^$
RewriteRule ^(.*)$ - [ENV=URI:$1]

RewriteCond %{ENV:BASE} ^$
RewriteCond %{ENV:URI}::%{REQUEST_URI} ^(.*)::(.*?)\1$
RewriteRule ^ - [ENV=BASE:%2]

# redirect all requests to React client
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* %{ENV:BASE}/client/build/index.html [QSA,NC,L]
